<script lang="ts">
	import { SortableList, sortItems, type SortableListProps } from "@rodrigodagostino/svelte-sortable-list"
	import { GripVertical } from "lucide-svelte"
	import { createEventDispatcher } from "svelte"
	import type { Events, NavLink } from "."
	import "./sortable-list.css"

	export let direction: SortableListProps["direction"]
	export let links: NavLink[]

	const dispatch = createEventDispatcher<Events>()

	let items: SortableListProps["items"]
	$: items = links.map(({ href, id, text }) => ({ href, id, text }))

	function handleSort(event: CustomEvent) {
		const { prevIndex, nextIndex } = event.detail
		const sortedItems = sortItems(items, prevIndex, nextIndex)
		links = sortedItems.map(({ href, id, text }) => ({ href, id, text }) as NavLink)
		dispatch("change", links)
	}
</script>

<SortableList {direction} gap={16} hasDropMarker hasLockedAxis {items} let:item on:sort={handleSort}>
	<GripVertical slot="handle" />
	<div class="gap-x-4">
		{item.text}
	</div>
</SortableList>
