<script lang="ts">
	import type { NavLink } from "."
	import EditableNavLinks from "./EditableNavLinks.svelte"
	import ReadOnlyNavLinks from "./ReadOnlyNavLinks.svelte"

	export let direction: "horizontal" | "vertical"
	export let editable: boolean = false
	export let links: NavLink[]
</script>

{#if editable}
	<EditableNavLinks {direction} bind:links on:change />
{:else}
	<ReadOnlyNavLinks {direction} {links} />
{/if}
