<script lang="ts">
	import { cn } from "$lib/utils"
	import { tv, type VariantProps } from "tailwind-variants"
	import type { NavLink } from "."

	export let direction: NavLinksProps["direction"]
	export let links: NavLink[]

	const navLinksVariants = tv({
		base: "flex",
		variants: {
			direction: {
				horizontal: "gap-x-2 flex-wrap",
				vertical: "gap-y-1 flex-col",
			},
		},
	})
	type NavLinksVariants = VariantProps<typeof navLinksVariants>
	interface NavLinksProps extends Omit<NavLinksVariants, "direction">, Required<Pick<NavLinksVariants, "direction">> {}
</script>

<nav>
	<ul class={cn(navLinksVariants({ direction }))}>
		{#each links as { href, text }}
			<li class="rounded hover:bg-accent hover:text-accent-foreground">
				<a class="block px-2 py-1.5" {href}>{text}</a>
			</li>
		{/each}
	</ul>
</nav>
