.sortable-item[aria-disabled="true"] .sortable-item__inner {
	opacity: 0.5;
}

.sortable-item.is-selecting .sortable-item__inner,
.ghost.is-dragging .ghost__inner {
	@apply rounded bg-muted shadow;
}

.sortable-item__handle,
.sortable-item__remove {
	@apply flex shrink-0 rounded;
	transition: background-color calc(var(--transition-duration) / 3 * 2);
}

.sortable-item__handle svg,
.sortable-item__remove svg {
	@apply text-muted-foreground;
}

.sortable-item__handle:hover,
.sortable-item__remove:focus,
.sortable-item__remove:hover {
	@apply bg-accent;
}

.sortable-list .sortable-item__handle:hover svg,
.sortable-item__remove:focus svg,
.sortable-item__remove:hover svg {
	@apply rounded text-accent-foreground;
}

.ghost.is-dragging .sortable-item__handle svg {
	@apply text-accent-foreground;
}

/**
* hasDropMarker
*/
.sortable-item .sortable-item__inner > * {
	opacity: 1;
	transition: opacity 0s var(--transition-duration);
}

.sortable-list .sortable-item.is-dragging .sortable-item__inner,
.sortable-item.is-dropping .sortable-item__inner {
	opacity: 0.5;
	transition: opacity 0s;
}

.sortable-item.is-dragging .sortable-item__inner > * {
	opacity: 0;
	transition: opacity 0s;
}
