<script lang="ts">
	import { getLayoutContext } from "$lib/context"
	import Block from "../blocks/Block.svelte"
	import type { BlockData } from "../blocks/types"
	import VerticalEditableBlockLayout from "./VerticalEditableBlockLayout.svelte"

	export let blocks: BlockData[]

	const { editModeStore } = getLayoutContext()
</script>

{#if $editModeStore}
	<VerticalEditableBlockLayout bind:blocks />
{:else}
	{#each blocks as block (block.id)}
		<Block {block} />
		<hr />
	{/each}
{/if}
