<script lang="ts">
	import Block from "../blocks/Block.svelte"
	import type { BlockData } from "../blocks/types"
	import { moveItemAfter, moveItemBefore } from "../blocks/utils"
	import { Button } from "../ui/button"

	export let blocks: BlockData[]

	function moveUp(blockIndex: number) {
		blocks = moveItemBefore(blocks, blockIndex)
	}

	function moveDown(blockIndex: number) {
		blocks = moveItemAfter(blocks, blockIndex)
	}
</script>

{#if blocks}
	<ul>
		{#each blocks as block, index (block.id)}
			<li>
				<div class="flex">
					<Button size="sm" variant="ghost" on:click={() => moveUp(index)}>up</Button>
					<Button size="sm" variant="ghost" on:click={() => moveDown(index)}>down</Button>
				</div>
				<Block on:change {block} />
			</li>
		{/each}
	</ul>
{/if}
