<script lang="ts">
	import Header from "@editorjs/header"
	import List from "@editorjs/list"
	import { useEditorJs } from "./wrapper"

	const { data, editor } = useEditorJs()
</script>

<h1>EditorJS</h1>

<div
	use:editor={{
		autofocus: true,
		placeholder: "Let's write awesome stuff!",
		tools: {
			header: Header,
			list: List,
		},
	}}
/>

{#if $data !== null}
	<pre>{JSON.stringify($data, null, 2)}</pre>
{/if}
