<script lang="ts">
	import { beforeNavigate } from "$app/navigation"
	import { navigating } from "$app/stores"
	import { layoutSpecMap } from "$lib/components/layouts"
	import ResponsiveLayout from "$lib/components/layouts/ResponsiveLayout.svelte"
	import { setLayoutContext } from "$lib/context"
	import type { Settings } from "$lib/model/settings"
	import { ModeWatcher } from "mode-watcher"
	import NProgress from "nprogress"
	import "nprogress/nprogress.css"
	import { isLoading } from "svelte-i18n"
	import { readonly, writable } from "svelte/store"
	import "../app.css"

	export let data
	$: ({ settings, user } = data)

	NProgress.configure({ showSpinner: false })
	$: if ($navigating || $isLoading) {
		NProgress.start()
	} else {
		NProgress.done()
	}

	const mobileSidebarOpenStore = writable(false)

	const editModeStore = writable(false)

	const settingsStore = writable<Settings>(settings)
	$: $settingsStore = settings

	const userStore = writable(user)
	$: $userStore = user === undefined ? null : user

	setLayoutContext({ editModeStore, mobileSidebarOpenStore, settingsStore, userStore: readonly(userStore) })

	beforeNavigate(() => {
		$mobileSidebarOpenStore = false
	})

	function findLayoutSpec(layoutName: string) {
		const layoutSpec = layoutSpecMap.get($settingsStore.layout.name)
		if (layoutSpec === undefined) {
			throw new Error(`Unknown layout: ${layoutName}`)
		}
		return layoutSpec
	}

	$: layoutSpec = findLayoutSpec($settingsStore.layout.name)
</script>

<ModeWatcher />

<ResponsiveLayout {layoutSpec}>
	<slot />
</ResponsiveLayout>
