<script lang="ts">
	import { _ } from "svelte-i18n"
</script>

<p>(This page is written in HTML and translated using svelte-i18n)</p>

<h1>{$_("page.home.title")}</h1>

<p>{$_("page.home.greet", { values: { name: "Christophe" } })}</p>
<p>{$_("page.home.paragraph")}</p>
