<script lang="ts">
	import { enhance } from "$app/forms"
	import { NavLinks, type NavLink } from "$lib/components/nav-links"
	import { Button } from "$lib/components/ui/button"
	import { getLayoutContext } from "$lib/context.js"
	import type { SubmitFunction } from "./$types.js"

	export let data
	export let form

	const { result } = data
	let links = result.items.map(({ href, id, name }) => ({ href, id, text: name }) as NavLink)

	const { editModeStore } = getLayoutContext()

	const handleSubmit: SubmitFunction = async ({ formData }) => {
		const linkOrder = [...links.entries()].map(([index, { id }]) => ({ id, order: index }))
		formData.set("linkOrder", JSON.stringify(linkOrder))
	}
</script>

<h1>Pocketbase</h1>

{#if $editModeStore}
	<NavLinks direction="vertical" editable bind:links />
	<form action="?/save" method="post" use:enhance={handleSubmit}>
		{#if form?.saveError}
			<p>Error saving items</p>
		{/if}
		<Button type="submit">Save</Button>
	</form>
{:else}
	<NavLinks direction="vertical" {links} />
{/if}
