<script lang="ts">
	import { HeadingNode, QuoteNode, registerRichText } from "@lexical/rich-text"
	import { TableCellNode, TableNode, TableRowNode } from "@lexical/table"
	import type { CreateEditorArgs } from "lexical"
	import { appendQuote, appendTable } from "./commands"
	import { useLexical } from "./wrapper"

	const { lexical, ready, state } = useLexical()

	const params = {
		nodes: [HeadingNode, QuoteNode, TableNode, TableCellNode, TableRowNode],
		onError(error) {
			throw error
		},
	} satisfies CreateEditorArgs

	ready.then((editor) => {
		registerRichText(editor)
		editor.update(appendQuote("foo"))
		editor.update(appendTable("bar"))
	})
</script>

<h1>Lexical</h1>

<div class="border focus:outline-none" use:lexical={params} />

{#if $state !== null}
	<pre>{JSON.stringify($state, null, 2)}</pre>
{/if}
