<script lang="ts">
	import { resolveRoute } from "$app/paths"
	import { Button } from "$lib/components/ui/button"
	import * as DropdownMenu from "$lib/components/ui/dropdown-menu"
	import { getLayoutContext } from "$lib/context"
	import { Languages, Layout, LogOut, SunMoon } from "lucide-svelte"
	import Avatar from "./Avatar.svelte"
	import DarkModeMenuItems from "./DarkModeMenuItems.svelte"
	import LanguageMenuItems from "./LanguageMenuItems.svelte"
	import LayoutMenuItems from "./LayoutMenuItems.svelte"

	export let user: Record<string, any>

	const { editModeStore } = getLayoutContext()
</script>

<DropdownMenu.Root>
	<DropdownMenu.Trigger asChild let:builder>
		<Button builders={[builder]} class="hover:bg-inherit" size="icon" variant="ghost">
			<Avatar {user} />
		</Button>
	</DropdownMenu.Trigger>
	<DropdownMenu.Content class="w-56">
		<DropdownMenu.CheckboxItem bind:checked={$editModeStore}>Edit mode</DropdownMenu.CheckboxItem>
		<DropdownMenu.Sub>
			<DropdownMenu.SubTrigger>
				<SunMoon class="mr-2 h-4 w-4" />
				<span>Light/Dark mode</span>
			</DropdownMenu.SubTrigger>
			<DropdownMenu.SubContent>
				<DarkModeMenuItems />
			</DropdownMenu.SubContent>
		</DropdownMenu.Sub>
		<DropdownMenu.Sub>
			<DropdownMenu.SubTrigger>
				<Languages class="mr-2 h-4 w-4" />
				<span>Language</span>
			</DropdownMenu.SubTrigger>
			<DropdownMenu.SubContent>
				<LanguageMenuItems languages={["en", "es", "fr"]} />
			</DropdownMenu.SubContent>
		</DropdownMenu.Sub>
		<DropdownMenu.Sub>
			<DropdownMenu.SubTrigger>
				<Layout class="mr-2 h-4 w-4" />
				<span>Layout</span>
			</DropdownMenu.SubTrigger>
			<DropdownMenu.SubContent>
				<LayoutMenuItems />
			</DropdownMenu.SubContent>
		</DropdownMenu.Sub>
		<DropdownMenu.Separator />
		<DropdownMenu.Group>
			<DropdownMenu.Item data-sveltekit-preload-data="off" href={resolveRoute("/logout", {})}>
				<LogOut class="mr-2 h-4 w-4" />
				<span>Logout</span>
			</DropdownMenu.Item>
		</DropdownMenu.Group>
	</DropdownMenu.Content>
</DropdownMenu.Root>
