<script lang="ts">
	import * as Avatar from "$lib/components/ui/avatar"

	export let user: Record<string, any>

	$: avatar = user.avatar
	$: name = user.name
	$: username = user.username
	$: userHandle = `@${username}`

	function extractInitials(name: string) {
		return name
			.split(" ")
			.map((word) => word.substring(0, 1).toUpperCase())
			.join("")
	}

	$: initials = extractInitials(name)
</script>

<Avatar.Root title={name}>
	{#if avatar}
		<Avatar.Image src={avatar} alt={userHandle} />
	{/if}
	<Avatar.Fallback>{initials}</Avatar.Fallback>
</Avatar.Root>
