<script lang="ts">
	import * as DropdownMenu from "$lib/components/ui/dropdown-menu"
	import { upperFirst } from "lodash-es"
	import { Moon, Settings, Sun } from "lucide-svelte"
	import { resetMode, setMode, userPrefersMode } from "mode-watcher"

	const items = [
		{
			handler() {
				setMode("light")
			},
			iconComponent: Sun,
			name: "light",
		},
		{
			handler() {
				setMode("dark")
			},
			iconComponent: Moon,
			name: "dark",
		},
		{
			handler() {
				resetMode()
			},
			iconComponent: Settings,
			name: "system",
		},
	]
</script>

<DropdownMenu.RadioGroup value={$userPrefersMode}>
	{#each items as { handler, iconComponent, name } (name)}
		<DropdownMenu.RadioItem on:click={handler} value={name}>
			<svelte:component this={iconComponent} class="mr-2 h-4 w-4" />
			{upperFirst(name)}
		</DropdownMenu.RadioItem>
	{/each}
</DropdownMenu.RadioGroup>
