<script lang="ts">
	import { enhance } from "$app/forms"
	import { resolveRoute } from "$app/paths"
	import * as DropdownMenu from "$lib/components/ui/dropdown-menu"
	import countryCodeToFlagEmoji from "country-code-to-flag-emoji"
	import { locale } from "svelte-i18n"

	export let languages: string[]

	function normalizeLocale(locale: string) {
		if (locale === "en") {
			return "en-US"
		}
		return locale
	}

	$: localeLang = $locale ? $locale.split("-")[0] : ""
</script>

<form method="post" use:enhance>
	<DropdownMenu.RadioGroup value={localeLang}>
		{#each languages as lang}
			<DropdownMenu.RadioItem
				value={lang}
				on:click={(event) => {
					event.detail.currentTarget.querySelector("button")?.click()
				}}
			>
				<button
					class="grow cursor-default text-left"
					formaction={resolveRoute("/settings?/setLang", {})}
					name="lang"
					type="submit"
					value={lang}
				>
					<span class="mr-2">{countryCodeToFlagEmoji(normalizeLocale(lang))}</span>
					{lang}
				</button>
			</DropdownMenu.RadioItem>
		{/each}
	</DropdownMenu.RadioGroup>
</form>
