<script lang="ts">
	import { layoutSpecMap } from "$lib/components/layouts"
	import * as DropdownMenu from "$lib/components/ui/dropdown-menu"
	import { getLayoutContext } from "$lib/context"

	const { settingsStore } = getLayoutContext()
</script>

<DropdownMenu.RadioGroup bind:value={$settingsStore.layout.name}>
	{#each layoutSpecMap.entries() as [name, { iconComponent, text }]}
		<DropdownMenu.RadioItem value={name}>
			<svelte:component this={iconComponent} class="mr-2 h-4 w-4" />
			{text}
		</DropdownMenu.RadioItem>
	{/each}
</DropdownMenu.RadioGroup>
