<script context="module" lang="ts">
	import * as v from "valibot"

	export const BlockParamsSchema = v.record(v.pipe(v.string(), v.nonEmpty()), v.any())
	export type BlockParams = v.InferOutput<typeof BlockParamsSchema>

	export type BlockEvents = {
		change: { params: BlockParams }
	}
</script>

<script lang="ts">
	import type { ComponentType } from "svelte"
	import { createEventDispatcher } from "svelte"
	import Heading, { blockType as headingBlockType } from "./Heading.svelte"
	import Paragraph, { blockType as paragraphBlockType } from "./Paragraph.svelte"
	import type { BlockData } from "./types"

	export let block: BlockData

	const dispatch = createEventDispatcher()

	const componentMap = new Map<string, ComponentType>([
		[headingBlockType, Heading],
		[paragraphBlockType, Paragraph],
	])

	function getComponent(type: string) {
		const component = componentMap.get(type)
		if (component === undefined) {
			throw new Error(`Invalid component type: ${type}`)
		}
		return component
	}

	$: component = getComponent(block.type)

	function handleChange(event: CustomEvent<BlockEvents["change"]>) {
		const { params } = event.detail
		dispatch("change", { block: { ...block, params } })
	}
</script>

<svelte:component this={component} on:change={handleChange} {...block.params} />
