<script context="module" lang="ts">
	import * as v from "valibot"

	export const blockType = "heading"
	export const minLevel = 1
	export const maxLevel = 5
	export const BlockParamsSchema = v.object({
		level: v.pipe(v.number(), v.integer(), v.minValue(minLevel), v.maxValue(maxLevel)),
		text: v.string(),
	})
	export type BlockParams = v.InferOutput<typeof BlockParamsSchema>

	export type BlockEvents = {
		change: { params: BlockParams }
	}
</script>

<script lang="ts">
	import { getLayoutContext } from "$lib/context"
	import { createEventDispatcher } from "svelte"

	type $$Props = BlockParams
	export let level: $$Props["level"]
	export let text: $$Props["text"]

	const { editModeStore } = getLayoutContext()
	const dispatch = createEventDispatcher<{ change: BlockEvents["change"] }>()

	const tagMap = new Map([
		[1, "h1"],
		[2, "h2"],
		[3, "h3"],
		[4, "h4"],
		[5, "h5"],
	])

	function getTag(level: number) {
		const tag = tagMap.get(level)
		if (tag === undefined) {
			throw new Error(`Invalid heading level: ${level}`)
		}
		return tag
	}

	$: tag = getTag(level)

	const levels = Array.from({ length: maxLevel - minLevel + 1 }, (_, index) => minLevel + index)

	$: dispatch("change", { params: { level, text } })
</script>

{#if $editModeStore}
	<div>
		<label>
			level:
			<select bind:value={level}>
				{#each levels as level}
					<option value={level}>{level}</option>
				{/each}
			</select>
		</label>
	</div>
	<svelte:element this={tag}>
		<input type="text" bind:value={text} />
	</svelte:element>
{:else}
	<svelte:element this={tag}>
		{text}
	</svelte:element>
{/if}
