<script context="module" lang="ts">
	import * as v from "valibot"

	export const blockType = "paragraph"
	export const BlockParamsSchema = v.object({
		text: v.string(),
	})
	export type BlockParams = v.InferOutput<typeof BlockParamsSchema>

	export type BlockEvents = {
		change: { params: BlockParams }
	}
</script>

<script lang="ts">
	import { getLayoutContext } from "$lib/context"
	import { createEventDispatcher } from "svelte"

	type $$Props = BlockParams
	export let text: $$Props["text"]

	const { editModeStore } = getLayoutContext()
	const dispatch = createEventDispatcher<{ change: BlockEvents["change"] }>()

	$: dispatch("change", { params: { text } })
</script>

{#if $editModeStore}
	<input class="w-full" type="text" bind:value={text} />
{:else}
	<p>{text}</p>
{/if}
