<script lang="ts">
	import { browser } from "$app/environment"
	import Counter from "$lib/components/Counter.svelte"
	import type { Readable } from "svelte/store"
	import { createStore } from "tinybase"
	import type { SessionPersister } from "tinybase/persisters/persister-browser"
	import { createYjsPersister } from "tinybase/persisters/persister-yjs"
	import { applyUpdate, Doc, encodeStateAsUpdate } from "yjs"
	import { createContentStore, createSessionPersisterStore, createValueStore } from "./stores"

	const store = createStore()
	const content = createContentStore(store)
	const countValue = createValueStore(store, "count")

	// let sqlite3PersisterStore: Readable<Sqlite3Persister>
	// async function initSqlite3Persister() {
	// 	const {
	// 		default: { Database },
	// 	} = await import("sqlite3")
	// 	const db = new Database(":memory:")
	// 	sqlite3PersisterStore = createSqlite3PersisterStore(store, db)
	// 	await $sqlite3PersisterStore.startAutoLoad()
	// 	await $sqlite3PersisterStore.startAutoSave()
	// 	db.all("SELECT * FROM tinybase;", console.log)
	// }

	let sessionPersisterStore: Readable<SessionPersister>
	function initSessionPersister() {
		sessionPersisterStore = createSessionPersisterStore(store, "test")
		$sessionPersisterStore.startAutoLoad()
		$sessionPersisterStore.startAutoSave()
	}

	const store2 = createStore()
	async function initYjsPersister() {
		const doc1 = new Doc()
		// TODO use store for destroy
		const yjsPersister1 = createYjsPersister(store, doc1)
		await yjsPersister1.startAutoLoad()
		await yjsPersister1.startAutoSave()

		const doc2 = new Doc()
		const yjsPersister2 = createYjsPersister(store2, doc2)
		await yjsPersister2.startAutoLoad()
		await yjsPersister2.startAutoSave()

		const syncDocs = async () => {
			applyUpdate(doc1, encodeStateAsUpdate(doc2))
			applyUpdate(doc2, encodeStateAsUpdate(doc1))
		}
		await syncDocs()

		countValue.subscribe(async () => {
			await syncDocs()
			console.log(store.getValue("count"), store2.getValue("count"))
		})
	}

	if (browser) {
		initSessionPersister()
		initYjsPersister()
		// } else {
		// 	initSqlite3Persister()
	}
</script>

<p>(This page tests tinybase local-first approach)</p>

<h1>Tinybase</h1>

<Counter bind:count={$countValue} />

<pre>{JSON.stringify($content, null, 2)}</pre>
