<script lang="ts">
	import { enhance } from "$app/forms"
	import { Button } from "$lib/components/ui/button"
	import { Input } from "$lib/components/ui/input"
	import { Label } from "$lib/components/ui/label"

	export let data
	export let form

	$: ({ authProviders, oauthFail } = data)
</script>

<h1>Login</h1>

<form action="?/login" method="post" use:enhance>
	{#if form?.loginAuthenticationError}
		<div>Authentication error</div>
	{/if}
	<div>
		<Label for="login">Username or email</Label>
		<Input name="login" required type="text" value={form?.loginInputs?.login ?? ""} />
		{#if form?.loginValidationErrors?.login}
			{form.loginValidationErrors.login.join(", ")}
		{/if}
	</div>
	<div>
		<Label for="password">Password</Label>
		<Input name="password" required type="password" />
		{#if form?.loginValidationErrors?.password}
			{form.loginValidationErrors.password.join(", ")}
		{/if}
	</div>
	<br />
	<Button type="submit">Login</Button>
</form>

<form method="post" use:enhance>
	{#if oauthFail}
		<p>Authentication error</p>
	{/if}
	{#each authProviders as { displayName, name } (name)}
		<Button type="submit" formaction="?/oauth_{name}">Login with {displayName}</Button>
	{/each}
</form>
