<script lang="ts">
	import DummyBlockLayout from "$lib/components/block-layouts/DummyBlockLayout.svelte"
	import VerticalBlockLayout from "$lib/components/block-layouts/VerticalBlockLayout.svelte"
	import type { BlockData } from "$lib/components/blocks/types"
	import { getLayoutContext } from "$lib/context"
	import { writable } from "svelte/store"

	export let data
	let { blocks: defaultBlocks } = data

	const blocks = writable(defaultBlocks)

	const { editModeStore } = getLayoutContext()

	const layoutMap = new Map([
		// ["grid", GridBlockLayout],
		// ["horizontal", HorizontalBlockLayout],
		["vertical", VerticalBlockLayout],
		["dummy", DummyBlockLayout],
	])

	let layoutComponent = layoutMap.get("vertical")

	function handleBlockChange(event: CustomEvent<{ block: BlockData }>) {
		const index = $blocks.findIndex((block) => block.id === event.detail.block.id)
		if (index !== -1) {
			$blocks[index] = event.detail.block
		}
	}
</script>

<p>(This page contains a home-made block editor)</p>

{#if $editModeStore}
	<form class="m-4 flex flex-col gap-y-2 border p-2">
		<label>
			block layout:
			<select bind:value={layoutComponent}>
				{#each layoutMap.entries() as [name, component]}
					<option value={component}>{name}</option>
				{/each}
			</select>
		</label>
	</form>
{/if}

<svelte:component this={layoutComponent} bind:blocks={$blocks} on:change={handleBlockChange} />
