<script lang="ts">
	import { _ } from "svelte-i18n"

	export let data

	$: ({ pageData } = data)
</script>

<p>(This is an attempt to do multi-language pages)</p>

<h1>{$_(pageData.title)}</h1>

<p>{$_(pageData.paragraph)}</p>
