<script lang="ts">
	import { resolveRoute } from "$app/paths"
	import AvatarMenu from "$lib/components/avatar-menu/AvatarMenu.svelte"
	import { Button } from "$lib/components/ui/button"
	import { getLayoutContext } from "$lib/context"

	const { userStore } = getLayoutContext()
</script>

{#if $userStore === null}
	<Button href={resolveRoute("/login", {})}>Login</Button>
{:else}
	<AvatarMenu user={$userStore} />
{/if}
