<script lang="ts">
	import { Button } from "$lib/components/ui/button"
	import StarterKit from "@tiptap/starter-kit"
	import { onMount } from "svelte"
	import { BubbleMenu, createEditor, Editor, EditorContent } from "svelte-tiptap"
	import type { Readable } from "svelte/store"

	let editor: Readable<Editor>

	onMount(() => {
		editor = createEditor({
			editorProps: {
				attributes: {
					class: "prose prose-sm sm:prose-base lg:prose-lg xl:prose-2xl focus:outline-none",
				},
			},
			extensions: [StarterKit],
			content: `Hello world!`,
		})
	})
</script>

<p>editor below:</p>

{#if $editor}
	<EditorContent editor={$editor} />
	<BubbleMenu class="bg-white" editor={$editor}>
		<Button
			on:click={() => $editor.chain().focus().toggleBold().run()}
			disabled={!$editor.can().chain().focus().toggleBold().run()}
			variant={$editor.isActive("bold") ? "default" : "outline"}
		>
			Bold
		</Button>
	</BubbleMenu>
{/if}
