<script lang="ts">
	export let data
	$: ({ links } = data)
</script>

<p>(This page is written in HTML and its content is loaded from a YAML file)</p>

<h1>Links</h1>

<p>Here are my favorite Boogie-Woogie pianists:</p>

{#if links.length}
	<ul>
		{#each links as { href, name, image_url }}
			<li>
				<a {href}>{name}</a>
				{#if image_url}
					<img alt="Website" src={image_url} />
				{/if}
			</li>
		{/each}
	</ul>
{/if}
