<script lang="ts">
	import { cn } from "$lib/utils"
	import type { HTMLAttributes } from "svelte/elements"
	import { tv } from "tailwind-variants"

	const appHeaderVariants = tv({
		base: "sticky top-0 z-10 border-b bg-background px-3 py-2",
		variants: {
			shadow: {
				true: "shadow",
			},
		},
	})

	type $$Props = HTMLAttributes<HTMLDivElement> & { class: string }

	let className: $$Props["class"]
	export { className as class }

	export let shadow = true
</script>

<header class={cn(appHeaderVariants({ shadow }), className)} {...$$restProps}>
	<slot />
</header>
