<script lang="ts">
	import AuthPanel from "$lib/components/auth/AuthPanel.svelte"
	import { NavLinks, type NavLink } from "$lib/components/nav-links"
	import { Button } from "$lib/components/ui/button"
	import * as Sheet from "$lib/components/ui/sheet"
	import { getLayoutContext } from "$lib/context"
	import { cn } from "$lib/utils"
	import { Menu } from "lucide-svelte"
	import AppHeader from "./AppHeader.svelte"
	import PageWrapper from "./PageWrapper.svelte"
	import Title from "./Title.svelte"

	let className: string
	export { className as class }

	export let links: NavLink[]
	export let title: string

	const { editModeStore, mobileSidebarOpenStore } = getLayoutContext()
</script>

<Sheet.Root bind:open={$mobileSidebarOpenStore}>
	<div class={cn("grid grid-rows-[auto_1fr]", className)}>
		<AppHeader class="flex items-center justify-between">
			<div class="flex items-center gap-x-2">
				<Sheet.Trigger asChild let:builder>
					<Button builders={[builder]} class="shrink-0" size="icon" variant="ghost">
						<Menu class="size-5" />
						<span class="sr-only">Toggle Menu</span>
					</Button>
				</Sheet.Trigger>
				<Title>{title}</Title>
			</div>
			<!-- TODO Auth Panel should not be in app header on mobile -->
			<AuthPanel />
		</AppHeader>
		<Sheet.Content class="overflow-y-auto" side="left">
			<NavLinks direction="vertical" editable={$editModeStore} bind:links />
		</Sheet.Content>
		<PageWrapper>
			<slot />
		</PageWrapper>
	</div>
</Sheet.Root>
