<script lang="ts">
	import { getLayoutContext } from "$lib/context"
	import type { LayoutSpec } from "."

	const { settingsStore } = getLayoutContext()

	export let layoutSpec: LayoutSpec
</script>

<svelte:component
	this={layoutSpec.desktopComponent}
	class="hidden md:block"
	title={$settingsStore.title}
	bind:links={$settingsStore.nav.items}
>
	<slot />
</svelte:component>

<svelte:component
	this={layoutSpec.mobileComponent}
	class="md:hidden"
	title={$settingsStore.title}
	bind:links={$settingsStore.nav.items}
>
	<slot />
</svelte:component>
