<script lang="ts">
	import AuthPanel from "$lib/components/auth/AuthPanel.svelte"
	import { NavLinks, type NavLink } from "$lib/components/nav-links"
	import { ScrollArea } from "$lib/components/ui/scroll-area"
	import { getLayoutContext } from "$lib/context"
	import { cn } from "$lib/utils"
	import AppHeader from "./AppHeader.svelte"
	import PageWrapper from "./PageWrapper.svelte"
	import Title from "./Title.svelte"

	let className: string
	export { className as class }

	export let headerHeight: string = "60px"
	export let links: NavLink[]
	export let title: string

	const { editModeStore } = getLayoutContext()
</script>

<div class={cn("grid grid-rows-[auto_1fr]", className)}>
	<AppHeader class={`flex items-center justify-between`} style={`height: ${headerHeight};`}>
		<Title>{title}</Title>
		<AuthPanel />
	</AppHeader>
	<div class="grid grid-cols-[auto_1fr]">
		<aside
			class={`sticky col-span-1 hidden border-r md:block`}
			style={`height: calc(100vh - ${headerHeight}); top: ${headerHeight};`}
		>
			<ScrollArea class="h-full px-4 py-3">
				<NavLinks direction="vertical" editable={$editModeStore} bind:links />
			</ScrollArea>
		</aside>
		<PageWrapper>
			<slot />
		</PageWrapper>
	</div>
</div>
