<script lang="ts">
	import AuthPanel from "$lib/components/auth/AuthPanel.svelte"
	import { NavLinks, type NavLink } from "$lib/components/nav-links"
	import { getLayoutContext } from "$lib/context"
	import { cn } from "$lib/utils"
	import AppHeader from "./AppHeader.svelte"
	import PageWrapper from "./PageWrapper.svelte"
	import Title from "./Title.svelte"

	let className: string
	export { className as class }

	export let links: NavLink[]
	export let title: string

	const { editModeStore } = getLayoutContext()
</script>

<div class={cn("grid grid-rows-[auto_1fr]", className)}>
	<AppHeader class={`flex items-center justify-between`}>
		<div class="flex items-center gap-x-4">
			<Title>{title}</Title>
			<NavLinks direction="horizontal" editable={$editModeStore} bind:links />
		</div>
		<AuthPanel />
	</AppHeader>
	<PageWrapper>
		<slot />
	</PageWrapper>
</div>
