<script lang="ts">
	import { Button } from "$lib/components/ui/button"
	export let count = 0
</script>

<div class="inline-flex items-center border">
	<Button variant="ghost" size="sm" on:click={() => (count -= 1)}>-</Button>
	<span class="mx-4">{count}</span>
	<Button variant="ghost" size="sm" on:click={() => (count += 1)}>+</Button>
</div>
