<script lang="ts">
	import { Editor } from "@tiptap/core"
	import BubbleMenu from "@tiptap/extension-bubble-menu"
	import StarterKit from "@tiptap/starter-kit"
	import { onDestroy, onMount } from "svelte"

	let bubbleMenuElement: HTMLElement
	let element: Element
	let editor: Editor

	onMount(() => {
		editor = new Editor({
			editorProps: {
				attributes: {
					class: "prose prose-sm sm:prose-base lg:prose-lg xl:prose-2xl focus:outline-none",
				},
			},
			element,
			extensions: [
				StarterKit,
				BubbleMenu.configure({
					element: bubbleMenuElement,
				}),
			],
			content: "<p>Hello World! 🌍️ </p>",
			onTransaction: () => {
				// force re-render so `editor.isActive` works as expected
				editor = editor
			},
		})
	})

	onDestroy(() => {
		if (editor) {
			editor.destroy()
		}
	})

	$: json = editor?.getJSON()
</script>

{#if editor}
	<button
		on:click={() => editor.chain().focus().toggleHeading({ level: 1 }).run()}
		class:active={editor.isActive("heading", { level: 1 })}
	>
		H1
	</button>
	<button
		on:click={() => editor.chain().focus().toggleHeading({ level: 2 }).run()}
		class:active={editor.isActive("heading", { level: 2 })}
	>
		H2
	</button>
	<button on:click={() => editor.chain().focus().setParagraph().run()} class:active={editor.isActive("paragraph")}>
		P
	</button>
	<button on:click={() => editor.chain().focus().toggleStrike().run()} class:active={editor.isActive("strike")}>
		strike
	</button>
{/if}

<div bind:this={bubbleMenuElement}>bubble menu</div>

<div bind:this={element} />

{#if json !== undefined}
	<pre class="whitespace-break-spaces">{JSON.stringify(json, null, 2)}</pre>
{/if}

<style>
	button.active {
		background: black;
		color: white;
	}
</style>
