<script lang="ts">
	import { Button } from "$lib/components/ui/button"
	import { Editor } from "@tiptap/core"
	import { Color } from "@tiptap/extension-color"
	import ListItem from "@tiptap/extension-list-item"
	import TextStyle from "@tiptap/extension-text-style"
	import StarterKit from "@tiptap/starter-kit"
	import { onDestroy, onMount } from "svelte"

	let element: Element
	let editor: Editor

	onMount(() => {
		editor = new Editor({
			editorProps: {
				attributes: {
					class: "prose prose-sm sm:prose-base lg:prose-lg xl:prose-2xl focus:outline-none",
				},
			},
			element,
			extensions: [
				Color.configure({ types: [TextStyle.name, ListItem.name] }),
				TextStyle.configure({ types: [ListItem.name] }),
				StarterKit,
			],
			content: `
              <h2>
                Hi there,
              </h2>
              <p>
                this is a <em>basic</em> example of <strong>Tiptap</strong>. Sure, there are all kind of basic text styles you’d probably expect from a text editor. But wait until you see the lists:
              </p>
              <ul>
                <li>
                  That’s a bullet list with one …
                </li>
                <li>
                  … or two list items.
                </li>
              </ul>
              <p>
                Isn’t that great? And all of that is editable. But wait, there’s more. Let’s try a code block:
              </p>
              <pre><code class="language-css">body {
    display: none;
  }</code></pre>
              <p>
                I know, I know, this is impressive. It’s only the tip of the iceberg though. Give it a try and click a little bit around. Don’t forget to check the other examples too.
              </p>
              <blockquote>
                Wow, that’s amazing. Good work, boy! 👏
                <br />
                — Mom
              </blockquote>
            `,
			onTransaction: () => {
				// force re-render so `editor.isActive` works as expected
				editor = editor
			},
		})
	})

	onDestroy(() => {
		if (editor) {
			editor.destroy()
		}
	})
</script>

{#if editor}
	<div class="control-group">
		<div class="Button-group">
			<Button
				on:click={() => editor.chain().focus().toggleBold().run()}
				disabled={!editor.can().chain().focus().toggleBold().run()}
				variant={editor.isActive("bold") ? "default" : "outline"}
			>
				Bold
			</Button>
			<Button
				on:click={() => editor.chain().focus().toggleItalic().run()}
				disabled={!editor.can().chain().focus().toggleItalic().run()}
				variant={editor.isActive("italic") ? "default" : "outline"}
			>
				Italic
			</Button>
			<Button
				on:click={() => editor.chain().focus().toggleStrike().run()}
				disabled={!editor.can().chain().focus().toggleStrike().run()}
				variant={editor.isActive("strike") ? "default" : "outline"}
			>
				Strike
			</Button>
			<Button
				on:click={() => editor.chain().focus().toggleCode().run()}
				disabled={!editor.can().chain().focus().toggleCode().run()}
				variant={editor.isActive("code") ? "default" : "outline"}
			>
				Code
			</Button>
			<Button on:click={() => editor.chain().focus().unsetAllMarks().run()}>Clear marks</Button>
			<Button on:click={() => editor.chain().focus().clearNodes().run()}>Clear nodes</Button>
			<Button
				on:click={() => editor.chain().focus().setParagraph().run()}
				variant={editor.isActive("paragraph") ? "default" : "outline"}
			>
				Paragraph
			</Button>
			<Button
				on:click={() => editor.chain().focus().toggleHeading({ level: 1 }).run()}
				variant={editor.isActive("heading", { level: 1 }) ? "default" : "outline"}
			>
				H1
			</Button>
			<Button
				on:click={() => editor.chain().focus().toggleHeading({ level: 2 }).run()}
				variant={editor.isActive("heading", { level: 2 }) ? "default" : "outline"}
			>
				H2
			</Button>
			<Button
				on:click={() => editor.chain().focus().toggleHeading({ level: 3 }).run()}
				variant={editor.isActive("heading", { level: 3 }) ? "default" : "outline"}
			>
				H3
			</Button>
			<Button
				on:click={() => editor.chain().focus().toggleHeading({ level: 4 }).run()}
				variant={editor.isActive("heading", { level: 4 }) ? "default" : "outline"}
			>
				H4
			</Button>
			<Button
				on:click={() => editor.chain().focus().toggleHeading({ level: 5 }).run()}
				variant={editor.isActive("heading", { level: 5 }) ? "default" : "outline"}
			>
				H5
			</Button>
			<Button
				on:click={() => editor.chain().focus().toggleHeading({ level: 6 }).run()}
				variant={editor.isActive("heading", { level: 6 }) ? "default" : "outline"}
			>
				H6
			</Button>
			<Button
				on:click={() => editor.chain().focus().toggleBulletList().run()}
				variant={editor.isActive("bulletList") ? "default" : "outline"}
			>
				Bullet list
			</Button>
			<Button
				on:click={() => editor.chain().focus().toggleOrderedList().run()}
				variant={editor.isActive("orderedList") ? "default" : "outline"}
			>
				Ordered list
			</Button>
			<Button
				on:click={() => editor.chain().focus().toggleCodeBlock().run()}
				variant={editor.isActive("codeBlock") ? "default" : "outline"}
			>
				Code block
			</Button>
			<Button
				on:click={() => editor.chain().focus().toggleBlockquote().run()}
				variant={editor.isActive("blockquote") ? "default" : "outline"}
			>
				Blockquote
			</Button>
			<Button on:click={() => editor.chain().focus().setHorizontalRule().run()}>Horizontal rule</Button>
			<Button on:click={() => editor.chain().focus().setHardBreak().run()}>Hard break</Button>
			<Button
				on:click={() => editor.chain().focus().undo().run()}
				disabled={!editor.can().chain().focus().undo().run()}
			>
				Undo
			</Button>
			<Button
				on:click={() => editor.chain().focus().redo().run()}
				disabled={!editor.can().chain().focus().redo().run()}
			>
				Redo
			</Button>
			<Button
				on:click={() => editor.chain().focus().setColor("#958DF1").run()}
				variant={editor.isActive("textStyle", { color: "#958DF1" }) ? "default" : "outline"}
			>
				Purple
			</Button>
		</div>
	</div>
{/if}

<div bind:this={element} />
